/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE          &kp Q  &kp W  &kp E         &kp R        &kp T        &kp Y      &kp U        &kp I          &kp O    &kp P     &kp BACKSPACE
&mt LEFT_SHIFT TAB  &kp A  &kp S  &kp D         &lt 4 F      &kp G        &kp H      &kp J        &kp K          &kp L    &kp SEMI  &mt RIGHT_SHIFT APOS
&kp LCTRL           &kp Z  &kp X  &kp C         &kp V        &kp B        &kp N      &kp M        &kp COMMA      &kp DOT  &kp FSLH  &mt RIGHT_CONTROL ENTER
                                  &kp LEFT_GUI  &lt 1 SPACE  &kp SPACE    &kp ENTER  &lt 2 SPACE  &kp RIGHT_ALT
            >;
        };

        layer_below {
            bindings = <
&kp TILDE  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT       &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSLH
&trans     &kp N1    &kp N2  &kp N3    &kp N4    &kp N5          &kp MINUS  &kp EQUAL  &kp GRAVE        &kp LBKT  &kp RBKT  &mt RIGHT_SHIFT PIPE
&trans     &kp N6    &kp N7  &kp N8    &kp N9    &kp N0          &kp UNDER  &kp PLUS   &kp TILDE        &kp LBRC  &kp RBRC  &trans
                             &trans    &trans    &kp LEFT_ALT    &trans     &mo 3      &kp RIGHT_ALT
            >;
        };

        layer_above {
            bindings = <
&none   &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp F11  &kp F12         &none     &kp HOME    &none   &kp END    &kp DEL    &kp BSPC
&trans  &kp F1      &kp F2             &kp F3           &kp F4   &kp F5          &kp LEFT  &kp DOWN    &kp UP  &kp RIGHT  &kp PG_UP  &trans
&trans  &kp F6      &kp F7             &kp F8           &kp F9   &kp F10         &none     &kp DELETE  &none   &none      &kp PG_DN  &trans
                                       &trans           &trans   &kp LEFT_ALT    &trans    &trans      &none
            >;
        };

        layer_3 {
            bindings = <
&none           &none         &none         &none         &none         &none           &none  &none   &none  &none  &none  &none
&none           &bt BT_CLR    &none         &none         &none         &none           &none  &none   &none  &none  &none  &none
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none   &none  &none  &none  &none
                                            &none         &trans        &none           &none  &trans  &none
            >;
        };

        layer_4 {
            bindings = <
&trans     &trans  &trans  &trans    &trans  &trans    &trans     &kp N7  &kp N8  &kp N9  &kp STAR   &kp BSPC
&kp LSHFT  &trans  &trans  &trans    &trans  &trans    &kp COMMA  &kp N4  &kp N5  &kp N6  &kp MINUS  &kp FSLH
&trans     &trans  &trans  &trans    &trans  &trans    &kp DOT    &kp N1  &kp N2  &kp N3  &kp PLUS   &kp RET
                           &kp LGUI  &trans  &trans    &trans     &trans  &trans
            >;
        };
    };
};
